# OneDrive Source

RCLONE_ONEDRIVE_NAME=onedrive
RCLONE_ONEDRIVE_TYPE=onedrive
RCLONE_ONEDRIVE_CLIENT_ID=your-client-id
RCLONE_ONEDRIVE_CLIENT_SECRET=your-secret
RCLONE_ONEDRIVE_TENANT=your-tenant-id
RCLONE_ONEDRIVE_DRIVE_TYPE=business
RCLONE_ONEDRIVE_REGION=global
