# Docker
.dockerignore
Dockerfile

# Git
.git
.gitignore

# Node / pnpm
node_modules
pnpm-debug.log*
npm-debug.log*

# Nuxt build artifacts
.nuxt
.output
dist

# Environment files
.env*
!/.env.example

# OS / Editor specific
.DS_Store
Thumbs.db
*.log
