LITELLM_UI_USERNAME="admin"
LITELLM_UI_PASSWORD=<generate_key>
LITELLM_MASTER_KEY="<generate_key>"

POSTGRES_USER="admin"
POSTGRES_PASSWORD="<generate_key>"

MONGO_USERNAME="admin"
MONGO_PASSWORD="<generate_key>"

MINIO_ROOT_USER="admin"
MINIO_SECRET_KEY="<generate_key>"

PHOENIX_SECRET="<generate_key>"
