# Dropbox Source - Just fill these in!

DROPBOX_NAME=dropbox
DROPBOX_TYPE=dropbox
DROPBOX_CLIENT_ID=your-app-key
DROPBOX_CLIENT_SECRET=your-app-secret
DROPBOX_OPTION_TOKEN={"access_token":"...","refresh_token":"..."}