# AWS S3 Source - Just fill these in!

S3_NAME=s3
S3_TYPE=s3
S3_OPTION_ACCESS_KEY_ID=AKIA...
S3_OPTION_SECRET_ACCESS_KEY=your-secret-key
S3_OPTION_REGION=us-east-1
S3_OPTION_ENDPOINT=https://s3.amazonaws.com
