# SFTP Source - Just fill these in!

SFTP_NAME=sftp
SFTP_TYPE=sftp
SFTP_OPTION_HOST=sftp.example.com
SFTP_OPTION_USER=username
SFTP_OPTION_PASS=password
SFTP_OPTION_PORT=22

# OR use key file:
# SFTP_OPTION_KEY_FILE=/secrets/ssh_key
