# SFTP Source

RCLONE_SFTP_NAME=sftp
RCLONE_SFTP_TYPE=sftp
RCLONE_SFTP_HOST=sftp.example.com
RCLONE_SFTP_USER=username
RCLONE_SFTP_PASS=password
RCLONE_SFTP_PORT=22

# OR use key file:
# RCLONE_SFTP_KEY_FILE=/secrets/ssh_key
